extends template.pug

block content
  #m-container(class='w3-container' style='padding-bottom:100px;padding-top:100px')
    #m-content
      ul#messages(class='w3-ul' style='list-style-position:inside')
  footer#bar(class='w3-bar w3-bottom w3-border' style='width:inherit')
    form(action='')
      input#m(class='w3-input w3-bar-item' style='width:80%' autocomplete='off')
      button#send(class='w3-btn w3-bar-item w3-blue' style='width:20%') Send
  script(src='bundle.js')
