html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='w3.css')
    link(rel='manifest' href='/manifest.json')
    title Exictype
  body
    header#top-bar(class='w3-bar w3-top w3-blue')
      p(class='w3-bar-item w3-xlarge' style='margin:8px') Exictype
    block content
